<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
  <servers>
    <server>
      <username>~~~Client~~~</username>
      <password>d5bea798010a4cbd948b0aaf13513ff8~?~330BB1ECA13C40d9A73FBAAC62E631e0</password>
      <id>anypoint-exchange-v3</id>
    </server>
  </servers>
</settings>