/*
 * Anypoint Styles (anypoint-ui mono-repo) v5.0.1
 * Deployed by Valkyr
 */
:root {
      --lume-g-color-primary: var(--lume-g-color-blue-50);
      --lume-g-color-secondary: var(--lume-g-color-neutral-40);
      --lume-g-color-tertiary: var(--lume-g-color-neutral-100);
      --lume-g-color-success: var(--lume-g-color-green-50);
      --lume-g-color-critical: var(--lume-g-color-red-40);
      --lume-g-color-hot-orange-95: #fef1ed;
      --lume-g-color-hot-orange-90: #ffded5;
      --lume-g-color-hot-orange-80: #feb9a5;
      --lume-g-color-hot-orange-70: #ff906e;
      --lume-g-color-hot-orange-65: #ff784f;
      --lume-g-color-hot-orange-60: #ff5d2d;
      --lume-g-color-hot-orange-50: #d83a00;
      --lume-g-color-hot-orange-40: #aa3001;
      --lume-g-color-hot-orange-30: #7e2600;
      --lume-g-color-hot-orange-20: #4a2413;
      --lume-g-color-hot-orange-15: #421604;
      --lume-g-color-hot-orange-10: #281202;
      --lume-g-color-orange-95: #fff1ea;
      --lume-g-color-orange-90: #fedfd0;
      --lume-g-color-orange-80: #ffba90;
      --lume-g-color-orange-70: #fe9339;
      --lume-g-color-orange-65: #f38303;
      --lume-g-color-orange-60: #dd7a01;
      --lume-g-color-orange-50: #a96404;
      --lume-g-color-orange-40: #825101;
      --lume-g-color-orange-30: #5f3e02;
      --lume-g-color-orange-20: #3e2b02;
      --lume-g-color-orange-15: #371e03;
      --lume-g-color-orange-10: #201600;
      --lume-g-color-yellow-95: #fbf3e0;
      --lume-g-color-yellow-90: #f9e3b6;
      --lume-g-color-yellow-80: #fcc003;
      --lume-g-color-yellow-70: #e4a201;
      --lume-g-color-yellow-65: #d79304;
      --lume-g-color-yellow-60: #ca8501;
      --lume-g-color-yellow-50: #a86403;
      --lume-g-color-yellow-40: #8c4b02;
      --lume-g-color-yellow-30: #6f3400;
      --lume-g-color-yellow-20: #4f2100;
      --lume-g-color-yellow-15: #2e2204;
      --lume-g-color-yellow-10: #281202;
      --lume-g-color-green-95: #ebf7e6;
      --lume-g-color-green-90: #cdefc4;
      --lume-g-color-green-80: #91db8b;
      --lume-g-color-green-70: #45c65a;
      --lume-g-color-green-65: #41b658;
      --lume-g-color-green-60: #3ba755;
      --lume-g-color-green-50: #2e844a;
      --lume-g-color-green-40: #396547;
      --lume-g-color-green-30: #194e31;
      --lume-g-color-green-20: #1c3326;
      --lume-g-color-green-15: #0c2912;
      --lume-g-color-green-10: #071b12;
      --lume-g-color-teal-95: #def9f3;
      --lume-g-color-teal-90: #acf3e4;
      --lume-g-color-teal-80: #04e1cb;
      --lume-g-color-teal-70: #01c3b3;
      --lume-g-color-teal-65: #03b4a7;
      --lume-g-color-teal-60: #06a59a;
      --lume-g-color-teal-50: #0b827c;
      --lume-g-color-teal-40: #056764;
      --lume-g-color-teal-30: #024d4c;
      --lume-g-color-teal-20: #023434;
      --lume-g-color-teal-15: #072825;
      --lume-g-color-teal-10: #071b12;
      --lume-g-color-cloud-blue-95: #eaf5fe;
      --lume-g-color-cloud-blue-90: #cfe9fe;
      --lume-g-color-cloud-blue-80: #90d0fe;
      --lume-g-color-cloud-blue-70: #1ab9ff;
      --lume-g-color-cloud-blue-65: #08abed;
      --lume-g-color-cloud-blue-60: #0d9dda;
      --lume-g-color-cloud-blue-50: #107cad;
      --lume-g-color-cloud-blue-40: #05628a;
      --lume-g-color-cloud-blue-30: #084968;
      --lume-g-color-cloud-blue-20: #023248;
      --lume-g-color-cloud-blue-15: #0a2636;
      --lume-g-color-cloud-blue-10: #001a28;
      --lume-g-color-blue-95: #eef4ff;
      --lume-g-color-blue-90: #d8e6fe;
      --lume-g-color-blue-80: #aacbff;
      --lume-g-color-blue-70: #78b0fd;
      --lume-g-color-blue-65: #57a3fd;
      --lume-g-color-blue-60: #1b96ff;
      --lume-g-color-blue-50: #0176d3;
      --lume-g-color-blue-40: #0b5cab;
      --lume-g-color-blue-30: #014486;
      --lume-g-color-blue-20: #032d60;
      --lume-g-color-blue-15: #03234d;
      --lume-g-color-blue-10: #001639;
      --lume-g-color-indigo-95: #f1f3fb;
      --lume-g-color-indigo-90: #e0e5f8;
      --lume-g-color-indigo-80: #bec7f6;
      --lume-g-color-indigo-70: #9ea9f1;
      --lume-g-color-indigo-65: #8e9bef;
      --lume-g-color-indigo-60: #7f8ced;
      --lume-g-color-indigo-50: #5867e8;
      --lume-g-color-indigo-40: #3a49da;
      --lume-g-color-indigo-30: #2f2cb7;
      --lume-g-color-indigo-20: #321d71;
      --lume-g-color-indigo-15: #1f0974;
      --lume-g-color-indigo-10: #200647;
      --lume-g-color-purple-95: #f6f2fb;
      --lume-g-color-purple-90: #ece1f9;
      --lume-g-color-purple-80: #d7bff2;
      --lume-g-color-purple-70: #c29ef1;
      --lume-g-color-purple-65: #b78def;
      --lume-g-color-purple-60: #ad7bee;
      --lume-g-color-purple-50: #9050e9;
      --lume-g-color-purple-40: #7526e3;
      --lume-g-color-purple-30: #5a1ba9;
      --lume-g-color-purple-20: #401075;
      --lume-g-color-purple-15: #300b60;
      --lume-g-color-purple-10: #240643;
      --lume-g-color-violet-95: #f9f0ff;
      --lume-g-color-violet-90: #f2defe;
      --lume-g-color-violet-80: #e5b9fe;
      --lume-g-color-violet-70: #d892fe;
      --lume-g-color-violet-65: #d17dfe;
      --lume-g-color-violet-60: #cb65ff;
      --lume-g-color-violet-50: #ba01ff;
      --lume-g-color-violet-40: #9602c7;
      --lume-g-color-violet-30: #730394;
      --lume-g-color-violet-20: #481a54;
      --lume-g-color-violet-15: #3d0157;
      --lume-g-color-violet-10: #2e0039;
      --lume-g-color-pink-95: #fef0f3;
      --lume-g-color-pink-90: #fddde3;
      --lume-g-color-pink-80: #fdb6c5;
      --lume-g-color-pink-70: #fe8aa7;
      --lume-g-color-pink-65: #fe7298;
      --lume-g-color-pink-60: #ff538a;
      --lume-g-color-pink-50: #e3066a;
      --lume-g-color-pink-40: #b60554;
      --lume-g-color-pink-30: #8a033e;
      --lume-g-color-pink-20: #61022a;
      --lume-g-color-pink-15: #4b0620;
      --lume-g-color-pink-10: #370114;
      --lume-g-color-neutral-100: #ffffff;
      --lume-g-color-neutral-95: #f3f3f3;
      --lume-g-color-neutral-90: #e5e5e5;
      --lume-g-color-neutral-80: #c9c9c9;
      --lume-g-color-neutral-70: #aeaeae;
      --lume-g-color-neutral-65: #a0a0a0;
      --lume-g-color-neutral-60: #939393;
      --lume-g-color-neutral-50: #747474;
      --lume-g-color-neutral-40: #5c5c5c;
      --lume-g-color-neutral-30: #444444;
      --lume-g-color-neutral-20: #2e2e2e;
      --lume-g-color-neutral-15: #242424;
      --lume-g-color-neutral-10: #181818;
      --lume-g-color-red-95: #fef1ee;
      --lume-g-color-red-90: #feded8;
      --lume-g-color-red-80: #feb8ab;
      --lume-g-color-red-70: #fe8f7d;
      --lume-g-color-red-65: #fe7765;
      --lume-g-color-red-60: #fe5c4c;
      --lume-g-color-red-50: #ea001e;
      --lume-g-color-red-40: #ba0517;
      --lume-g-color-red-30: #8e030f;
      --lume-g-color-red-20: #640103;
      --lume-g-color-red-15: #4a0c04;
      --lume-g-color-red-10: #300c01;
      --sds-g-color-neutral-base-1: var(--lume-g-color-neutral-95);
      --sds-g-color-neutral-base-2: var(--lume-g-color-neutral-90);
      --sds-g-color-neutral-base-4: var(--lume-g-color-neutral-70);
      --sds-g-color-brand-base-contrast-2: var(--lume-g-color-primary);
      --sds-g-color-brand-base-contrast-3: var(--lume-g-color-blue-30);
      --sds-g-color-brand-base-1: var(--lume-g-color-tertiary);
      --sds-g-color-brand-inverse-contrast-4: var(--lume-g-color-secondary);
      --lume-g-font-size-base: 1rem;
      --lume-g-font-size-1: 1.125rem;
      --lume-g-font-size-2: 1.266rem;
      --lume-g-font-size-3: 1.424rem;
      --lume-g-font-size-4: 1.602rem;
      --lume-g-font-size-5: 1.802rem;
      --lume-g-font-size-6: 2.027rem;
      --lume-g-font-size-7: 2.281rem;
      --lume-g-font-size-8: 2.566rem;
      --lume-g-font-size-9: 2.887rem;
      --lume-g-font-size-10: 3.247rem;
      --lume-g-font-scale-neg-1: 0.875rem;
      --lume-g-font-scale-neg-2: 0.8125rem;
      --lume-g-font-scale-neg-3: 0.75rem;
      --lume-g-font-scale-neg-4: 0.625rem;
      --lume-g-font-family-code: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
      --lume-g-font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      --lume-g-shadow-1: 0px 2px 4px -2px rgba(0,0,0,0.18824), 0px 3px 6px -1px rgba(0,22,57,0.1451);
      --lume-g-shadow-2: 0px -6px 16px -6px rgba(0,0,0,0.01176), 0px 8px 16px -8px rgba(0,0,0,0.18824), 0px 12px 28px -5px rgba(0,22,57,0.1451);
      --lume-g-shadow-3: 0px -12px 32px -12px rgba(0,0,0,0.01176), 0px 16px 32px -16px rgba(0,0,0,0.18824), 0px 24px 32px -10px rgba(0,22,57,0.1451);
      --lume-g-shadow-4: 0px -24px 48px -24px rgba(0,0,0,0.01176), 0px 32px 48px -32px rgba(0,0,0,0.18824), 0px 32px 48px -20px rgba(0,22,57,0.1451);
      --lume-g-shadow-5: 0px -32px 64px -32px rgba(0,0,0,0.01176), 0px 48px 64px -48px rgba(0,0,0,0.18824), 0px 48px 64px -30px rgba(0,22,57,0.1451);
      --lume-g-spacing-1: 0.125rem;
      --lume-g-spacing-2: 0.25rem;
      --lume-g-spacing-3: 0.5rem;
      --lume-g-spacing-4: 0.75rem;
      --lume-g-spacing-5: 1rem;
      --lume-g-spacing-6: 1.25rem;
      --lume-g-spacing-7: 1.5rem;
      --lume-g-spacing-8: 2rem;
      --lume-g-spacing-9: 2.5rem;
      --lume-g-spacing-10: 3rem;
      --lume-g-spacing-11: 3.5rem;
      --lume-g-spacing-12: 4rem;
      --lume-g-spacing-13: 4.5rem;
      --lume-g-spacing-14: 5rem;
      --lume-g-radius-border-1: 0.125rem;
      --lume-g-radius-border-2: 0.25rem;
      --lume-g-radius-border-3: 0.375rem;
      --lume-g-radius-border-4: 0.5rem;
      --lume-g-radius-border-5: 1rem;
      --lume-g-radius-border-circle: 100%;
      --lume-g-sizing-border-1: 1px;
      --lume-g-sizing-border-2: 2px;
  }
:root {
  --primary: var(--core-blue3);
  --secondary: var(--robust-blue3);
  --tertiary: var(--lume-g-color-neutral-100);
  --success: var(--future-green3);
  --danger: var(--red3);

  --aluminum1: var(--lume-g-color-neutral-95);
  --aluminum2: var(--lume-g-color-neutral-90);
  --aluminum3: var(--lume-g-color-neutral-80);
  --aluminum4: var(--lume-g-color-neutral-70);
  --aluminum5: var(--lume-g-color-neutral-65);

  --core-blue1: var(--lume-g-color-blue-95);
  --core-blue2: var(--lume-g-color-blue-65);
  --core-blue3: var(--lume-g-color-blue-50);
  --core-blue4: var(--lume-g-color-blue-30);
  --core-blue5: var(--lume-g-color-blue-20);

  --future-green1: #dcfdd0;
  --future-green2: var(--lume-g-color-green-60);
  --future-green3: var(--lume-g-color-green-50);
  --future-green4: #22683e;
  --future-green5: var(--lume-g-color-green-30);

  --red1: var(--lume-g-color-red-95);
  --red2: var(--lume-g-color-red-50);
  --red3: var(--lume-g-color-red-40);
  --red4: var(--lume-g-color-red-30);
  --red5: var(--lume-g-color-red-20);

  --robust-blue1: #a1b1b8;
  --robust-blue2: #6b8a99;
  --robust-blue3: #506773;
  --robust-blue4: #32444d;
  --robust-blue5: #272f33;

  --steel1: var(--lume-g-color-neutral-60);
  --steel2: var(--lume-g-color-neutral-50);
  --steel3: var(--lume-g-color-neutral-40);
  --steel4: var(--lume-g-color-neutral-30);
  --steel5: #0b0b0b;

  --yellow1: #fef3d9;
  --yellow2: #ffe3a2;
  --yellow3: var(--lume-g-color-yellow-80);
  --yellow4: var(--lume-g-color-yellow-70);
  --yellow5: var(--lume-g-color-yellow-60);

  --indigo3: #5e66f9;
  --navy3: #178bea;
  --teal3: #00b5d1;
  --viridian3: #00b49d;
  --violet3: #9a63f9;
}
.anypoint-styles {
  font-size: 14px;
  line-height: 1.5;
}
.anypoint-styles * {
    box-sizing: border-box;
  }
.anypoint-styles b, .anypoint-styles strong {
    font-weight: bold;
  }
.anypoint-styles ::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
.anypoint-styles :focus {
    outline: 0;
  }
.anypoint-styles img {
    max-width: 100%;
    height: auto;
    border: 0;
  }
.anypoint-styles table {
    border-collapse: collapse;
    border-spacing: 0;
  }
.anypoint-styles a {
    text-decoration: none;
    background-color: transparent;
  }
/* Separated these 3 any-link pseudo selectors in 3 different section
   * because we cannot use a single section with commas
   */
.anypoint-styles :-webkit-any-link {
    text-decoration: none;
  }
.anypoint-styles :-moz-any-link {
    text-decoration: none;
  }
.anypoint-styles :link, .anypoint-styles :visited, .anypoint-styles area[href] {
    text-decoration: none;
  }
.anypoint-styles :-webkit-any-link {
    text-decoration: none;
  }
.anypoint-styles :-moz-any-link {
    text-decoration: none;
  }
.anypoint-styles :any-link {
    text-decoration: none;
  }
.anypoint-styles {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-family: var(--lume-g-font-family);
  color: #5c5c5c;
  color: var(--steel3);
}
.anypoint-styles h1,
  .anypoint-styles h2,
  .anypoint-styles h3,
  .anypoint-styles h4,
  .anypoint-styles h5,
  .anypoint-styles h6 {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-family: var(--lume-g-font-family);
    font-weight: 700;
  }
.anypoint-styles h1 {
    font-size: 31px;
  }
.anypoint-styles h2 {
    font-size: 28px;
  }
.anypoint-styles h3 {
    font-size: 25px;
  }
.anypoint-styles h4 {
    font-size: 22px;
  }
.anypoint-styles h5 {
    font-size: 19px;
  }
.anypoint-styles h6 {
    font-size: 16px;
  }
.anypoint-styles h1,
  .anypoint-styles h2,
  .anypoint-styles h3 {
    margin: 20px 0 10px 0;
    color: #0b0b0b;
    color: var(--steel5);
  }
.anypoint-styles h1,
  .anypoint-styles h2,
  .anypoint-styles h3 {
    color: #444444;
    color: var(--steel4);
  }
.anypoint-styles h4,
  .anypoint-styles h5,
  .anypoint-styles h6,
  .anypoint-styles p {
    margin: 10px 0 10px 0;
  }
.anypoint-styles fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }
.anypoint-styles fieldset label {
      display: inline-block;
    }
.anypoint-styles fieldset label:first-child {
      margin-top: 0;
    }
.anypoint-styles fieldset legend {
      font-size: 20px;
      margin: 0 0 10px 0;
      padding: 0;
      font-weight: 300;
      color: #5c5c5c;
      color: var(--steel3);
      width: 100%;
      border-bottom: 1px solid #c9c9c9;
      border-bottom: 1px solid var(--aluminum3);
    }
.anypoint-styles blockquote {
    color: #5c5c5c;
    color: var(--steel3);
    padding: 10px 20px;
    margin: 10px 0 10px;
    border-left: 3px solid #a0a0a0;
    border-left: 3px solid var(--aluminum5);
  }
.anypoint-styles code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-family: var(--lume-g-font-family-code);
    padding: 2px 4px;
    color: #5c5c5c;
    color: var(--steel3);
    background-color: #f3f3f3;
    background-color: var(--aluminum1);
  }
.anypoint-styles pre {
    padding: 9.5px;
    margin: 0 0 10px 0;
    background-color: #f3f3f3;
    background-color: var(--aluminum1);
    border: 1px solid #aeaeae;
    border: 1px solid var(--aluminum4);
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.42;
  }
.anypoint-styles hr {
    border: 0;
    border-top: 1px solid #c9c9c9;
    border-top: 1px solid var(--aluminum3);
  }

